@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "../index";

body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 40px;
}

.header{
   margin-bottom: 0;
}

.container-form{
   width: 480px;
   max-width: 100%;
   margin-inline: auto;
   font-family: 'Roboto';

   &__wrap{
      padding: 30px 40px;
      border-radius: 12px;
      box-shadow: 0px 24px 64px 0px rgba(38, 33, 74, 0.1);
      color: #292D34;
      background: rgb(255, 255, 255);
   }

   &__title{
      text-align: center;
      font-size: 32px;
   }

   &__form{
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-block: 25px;
   }

   &__input-wrap{
      padding: 12px;
      display: flex;
      justify-content: space-between;
      gap: 8px;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid rgb(214, 217, 222);
      border-radius: 9px;
      font-size: 14px;
      margin-top: 8px;

      &--email::before{
         content: url(../../images/email.svg);
      }

      &--password::before{
         content: url(../../images/password.svg);
      }
   }

   &__link-password{
      font-size: 12px;
      text-wrap: nowrap;
      color: #7B68EE;
      align-self: start;
   }

   label{
      font-size: 14px;
      font-weight: 500;
   }

   &__submit{
      cursor: pointer;
      padding: 18px;
      color: #fff;
      border-radius: 9px;
      background: rgb(63, 17, 159);
      font-weight: 800;
   }

   &__google{
      padding: 11px 14px;
      display: flex;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 4px;

      &::before{
         content: url(../../images/google.svg);
         position: relative;
         top: 2px;
      }

      &-text{
         width: 100%;
         text-align: center;
         font-weight: 500;
         color: #292D34;
      }
   }
   
   &__text-small{
      text-align: center;
      font-size: 14px;
      opacity: 0.4;
   }

   &__link-small{
      border-bottom: 1px solid #fff;
   }
}