@import "../index";
@import "../UI/hero-block";
@import "../UI/btn-gradient";
@import "../UI/you-ready";
@import "../UI/card";

.all-payment-processing-features{
   @include sm {
      padding-inline: 15px;
   }
   &__block-text{
      max-width: 490px;

      @include lg {
         max-width: 416px;
      }
   }

   &__title{
      margin-bottom: 62px;

      @include lg {
         margin-bottom: 48px;
         font-size: 36px;
      }

      @include sm {
         font-size: 30px;
      }
   }

   &__btn{
      @include sm {
         font-size: 20px;
      }
   }
}

.main-title{
   max-width: 870px;
   margin-inline: auto;
}
.needed-for-service{
   box-sizing: border-box;
   padding-block: 40px;
   max-width: 1000px;
   margin-inline: auto;

   @include md {
      padding-inline: 80px;
   }
   
   @include sm {
      padding: 40px;
   }

   &__block-text{
      max-width: 440px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 22px;

      @include lg {
         max-width: 405px;
      }

      @include md {
         align-items: center;
      }
   }

   &__text{
      font-size: 16px;
   }

   &__img{
      width: 45%;

      @include lg {
         width: 45%;
      }

      @include md {
         width: 100%;
         max-width: 580px;
      }
   }

   &__btn{
      border-radius: 4px;
      box-shadow: 0px 10px 25px 0px rgba(123, 104, 238, 0.5);
      background: #7b68ee;
      font: 14px "inter" 800;
      padding: 18px 34px;
   }
}

.integration-abilities{
   display: flex;

   @include md {
      flex-direction: column;
   }

   &__item{
      background: linear-gradient(173deg, #EB00FF, #5037E7);
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex-shrink: 0;
      width: calc(50% + 56px);
      box-sizing: border-box;
      padding: 35px;
      position: relative;
      
      @include md {
         background: linear-gradient(218deg, #EB00FF, #5037E7);
         width: 100%;
      }

      &--1{
         border-radius: 0 136px 136px 0;
         border-right: 1px solid rgb(87, 31, 182);
         z-index: 2;

         @include md {
            border-radius: 0 0 90px 90px;
            border-top: 1px solid rgb(87, 31, 182);
            border-right-width: 0;
            padding-bottom: 55px;
         }

         &::before{
            content: 'or';
            font-size: 24px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 51px;
            height: 51px;
            border-radius: 50%;
            background: linear-gradient(168.95deg, rgb(171, 83, 255) 10.305%,rgb(111, 45, 236) 156.995%);
            border: 1px solid rgb(87, 31, 182);
            box-shadow: 0px 2px 5px 0px rgba(101, 39, 202, 0.8);
            position: absolute;
            bottom: calc(50% - 25.5px);
            right: -25.5px;

            @include md {
               bottom: -25.5px;
               right: calc(50% - 25.5px);
            }
         }
      }

      &--2{
         left: -116px;
         padding-left: 156px;

         @include md {
            left: 0;
            top: -94px;
            padding-left: 35px;
            padding-top: 156px;
         }
      }
   }

   &__block-text{
      width: 365px;
      
      @include sm {
         width: 85%;
      }

      &--md-right{
         @include md {
            align-self: flex-end ;
            text-align: right;
         }
      }
   }

   &__text{
      font-size: 16px;
   }
   
   &__img{
      width: 370px;
      align-self: flex-end;

      @include sm {
         width: 82%;
      }

      &--center-end{
         align-self: center;
         
         @include md {
            align-self: flex-end;
         }
      }

      &--md-start{
         @include md {
            align-self: flex-start;
         }
      }
   }
}